@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
}

body {
    background-color: black;
}

html {
    overflow-y: scroll;
}

a, .btn-link {
    color: #0366d6;
}

#app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        border-bottom: 1px solid #d6d5d5;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.loader {
    margin-top: 25%;
    color: white;
}

.footer {
    color: white;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

label {
    color: white;
}

.form-control, .form-select {
    color: white;
    background-color: transparent;
    border-radius: 0;
}

option:not(:checked) {
    color: white !important;
    background-color: black !important;
}

option:checked {
    color: white !important;
    background-color: black !important;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.form-control:focus, .form-select:focus {
    color: white;
    background-color: transparent;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* ----- Grid ----- */
.stamp {
    position: absolute;
    background: #131862;
}

iframe {
    width: 100%;
    min-height: 350px;
}

#menu {
    left: 00%;
    top: 0px;
    width: 33.33%;
    background: #000 url(https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/starfield-banner.jpg);
    height: 370px;
}

#intro {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

    #intro img {
        margin-bottom: .5em;
    }

    #intro a {
        text-decoration: none;
    }

    #intro h1 {
        font-size: 1.8em;
        font-weight: 700;
        margin-bottom: 0;
        color: white;
    }

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item:hover {
    background: #A2C;
    border-color: white;
    cursor: pointer;
}

.grid-sizer,
.grid-item {
    width: 33.333%;
    color: white;
}

.grid-item {
    float: left;
}

    .grid-item img {
        display: block;
        max-width: 100%;
    }

    .grid-item h3 {
        margin-top: .3em;
    }

/* ---- Media queries ----- */
@media (max-width: 767.98px) {
    .main .top-row.auth {
        justify-content: space-between;
    }
    .grid-sizer,
    .grid-item {
        width: 100%;
    }
    #menu {
        width: 100%;
    }
}

@media (min-width: 768px) {
    #app {
        flex-direction: row;
    }
}
